<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE Course</title>
</head>
<body>

    <div id="app">
        <div>
            <input type="text" v-model="textoDigitado" />
                {{textoDigitado}}
            <br>
            <input type="text" v-model="imgEscolha"/>
            <br>
            <div v-if="imgEscolha==1">
                <img v-bind:src="srcImg1" v-bind:title="titleImg" width="500px"><hr>
            </div>
            <div v-else-if="imgEscolha==2">
                <img v-bind:src="srcImg2" v-bind:title="titleImg" width="500px"><hr>
            </div>
            <div v-else="imgEscolha==3">
                <img v-bind:src="srcImg3" v-bind:title="titleImg" width="500px"><hr>
            </div>
        </div>        
        <!--<a :href="url" target="_blank">Vue</a>
        <p v-text="'Texto qualquer!!!'"></p>
        <div v-text="textPar"></div>
        <div v-html="quebraLinha"></div>-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue-file-diretivas.js"></script>
</body>
</html>